// JavaScripts
// bower:js
script(src='../../../components/jquery/dist/jquery.js')
script(src='../../../components/jquery-ui/jquery-ui.js')
script(src='../../../components/jszip/dist/jszip.js')
script(src='../../../components/file-saver.js/FileSaver.js')
// endbower
script(src='js/scripts.js')