// JavaScripts
// bower:js
script(src='../../../public/components/jquery/dist/jquery.js')
script(src='../../../public/components/jquery-ui/jquery-ui.js')
script(src='../../../public/components/jszip/dist/jszip.js')
// endbower
script(src='js/scripts.js')