// Mixins
@import "base/mixins";

// Functions
@import "base/functions";

// Fonts
@import "base/fonts";

// Colors
@import "base/colors";

// Variables
@import "base/variables";

// Document
html {
  width: 100%;
  height: 100%;
}

// Body
body {
  background: $base-background;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Dashboard (Parent Block)
.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: $dashboard-background;
  width: 100%;
  max-width: $dashboard-width;
  margin: 100px auto;
  border-radius: $dashboard-border-radius;
  box-shadow: $dashboard-box-shadow;

  // Sidebar (Block)
  @import "partials/sidebar";

  // Nav (Block)
  @import "partials/nav";
}